@using OT.Ternium.Framework.Mvc.Filters
@model CredentialExceptionModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Credential Exception</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <style>
        .field-validation-error {
            color: #f00;
        }

        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }
    </style>
</head>
<body>
    <script>
        var url = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
        url = @Html.Raw(Context.Request.IsLocal && !Context.Request.IsSecureConnection  ? "'http'" : "'https'") + '://' + window.location.host + url;
        url += 'Credentials.axd';


        // info de la excepcion
        var action = '@(Model.IsExpired ? "update" : "set")';
        var dblogicalname = '@Model.DbLogicalName';
        var locationName = '@(Model.Location != null ? Model.Location.Replace("\\","\\\\") : "")';
        var method = '@Model.Method.ToLower()';

        function btnOK()
        {
            $("#errorMsg").html('');
            $("#errorUser").html('');
            $("#errorPwd").html('');
            $("#errorPwdNueva").html('');
            $("#errorPwdNueva2").html('');
            $("#txtUser").removeClass('input-validation-error');
            $("#txtPwd").removeClass('input-validation-error');
            $("#txtPwdNueva").removeClass('input-validation-error');
            $("#txtPwdNueva2").removeClass('input-validation-error');

            if (!$("#txtUser").val()){
                $("#errorUser").html('Favor completar usuario.');
                $("#txtUser").addClass('input-validation-error');
                return;
            }
            if (!$("#txtPwd").val()){
                $("#errorPwd").html('Favor completar la clave.');
                $("#txtPwd").addClass('input-validation-error');
                return;
            }

            if (action == 'update') {
                if (!$("#txtPwdNueva").val()){
                    $("#errorPwdNueva").html('Favor completar la clave nueva.');
                    $("#txtPwdNueva").addClass('input-validation-error');
                    return;
                }
                if (!$("#txtPwdNueva2").val()){
                    $("#errorPwdNueva2").html('Favor completar la confirmación de la clave nueva.');
                    $("#txtPwdNueva2").addClass('input-validation-error');
                    return;
                }
                if ($("#txtPwdNueva").val() != $("#txtPwdNueva2").val() ){
                    $("#errorPwdNueva2").html('Las claves no coinciden.');
                    $("#txtPwdNueva").addClass('input-validation-error');
                    $("#txtPwdNueva2").addClass('input-validation-error');
                    return;
                }
            }

            var  values = 'action=' + action;
            values += '&location=' + locationName;
            values += '&dblogicalname=' + dblogicalname;
            values += '&user=' + $("#txtUser").val();
            values += '&password=' + $("#txtPwd").val();

            if (action == 'update') {
                values += '&newpassword=' + $("#txtPwdNueva").val();
            }

            $.ajax({
                url: url,
                type: "post",
                xhrFields: {
                    withCredentials: true
                },
                data: values ,
                success: successCallbackfunction,
                error: errorCallbackfunction
            });
        }

        function successCallbackfunction(result)
        {
            if (result.credentialexception)
            {
                $("#errorMsg").html(result.credentialexception.message);
                action = result.credentialexception.isexpired == 'True'  ? 'update' : 'set';
                toggleDivs();
            }
            else if (result.exception)
            {
                $("#errorMsg").html(result.exception.message);
            }
            else if (method == "post")
            {
                $("#formResume").submit();
            }
            else if (method == "get")
            {
                document.location = '@Model.Url';
            }
            else if (method == "dialog")
            {
                parent.$('#popupCredentials').modal('hide');
            }
        }

        function errorCallbackfunction(result) {
            $("#errorMsg").html(result.responseText);
        }

        function toggleDivs() {
            if (action == 'update') {
                $('#divPwdNueva').show();
                $('#divPwdNueva2').show();
            }
            else {
                $('#divPwdNueva').hide();
                $('#divPwdNueva2').hide();
            }
        }

        $(document).ready(function () {
            toggleDivs();
        });

    </script>
    <div class="container">
        @if (Model.Method.ToLower() == "post")
        {
            <form action="@Model.Url" method="post" id="formResume">
                @foreach (string key in Model.Form.Keys)
                {
                    <input type="hidden" name="@key" id="@key" value="@Model.Form[key]" />
                }
            </form>
        }

        <div class="text-center">
            <h2>@Model.DisplayName</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label id="errorMsg" style="text-align: center; display: block;">@Model.Message</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Usuario:</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtUser" type="text" value="" autocomplete="off" />
                            <span class="field-validation-error" id="errorUser"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Clave:</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtPwd" type="password" value="" autocomplete="off" />
                            <span class="field-validation-error" id="errorPwd"></span>
                        </div>
                    </div>
                    <div class="form-group" id="divPwdNueva" style="display:none">
                        <label class="control-label col-sm-3">Clave Nueva:</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtPwdNueva" type="password" value="" autocomplete="off" />
                            <span class="field-validation-error" id="errorPwdNueva"></span>
                        </div>
                    </div>
                    <div class="form-group" id="divPwdNueva2" style="display:none">
                        <label class="control-label col-sm-3">Repetir Clave Nueva:</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtPwdNueva2" type="password" value="" autocomplete="off" />
                            <span class="field-validation-error" id="errorPwdNueva2"></span>
                        </div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-default" onclick="btnOK();" type="button" value="Aceptar" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
